<%= form_with model: person do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= person.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :pronouns %><br>
    <%= form.text_area :pronouns %><br>
    <%= person.errors.full_messages_for(:pronouns).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :tags %><br>
    <%= collection_select(:person, :tag_ids, Tag.all, :id, :name, {}, { :multiple => true} ) %>
    <%= person.errors.full_messages_for(:tags).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
