<h1><%= @person.name %></h1>

<p><%= @person.name %></p>
<p><%= @person.pronouns %></p>
<p><%= @person.tags.map(&:name) %></p>

<ul>
  <li><%= link_to "Edit", edit_person_path(@person) %></li>
  <li><%= link_to "Destroy", person_path(@person), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
